<p>student works!</p>
<section>
    <div class="card">
        <div class="card-body">
            <div class="justify-content-between d-flex">
                <div class="col-4">
                    <div class="mt-4">
                        <img src="../../assets/images/profile.jpg" class="d-block" alt="">
                    </div>
                </div>
                <div class="col-8">
                    <div class="row mt-3">
                        <div class="col text-center">
                            <input type="text" class="form-control" placeholder="First name" [(ngModel)]="firstName">
                            <label for="" class="text-center mt-2">First name</label>
                        </div>
                        <div class="col text-center">
                            <input type="text" class="form-control" placeholder="First name" [(ngModel)]="lastName">
                            <label for="" class="text-center mt-2">Last name</label>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col text-center">
                            <input type="text" class="form-control" placeholder="First name" [(ngModel)]="userName">
                            <label for="" class="text-center mt-2">User name</label>
                        </div>
                        <div class="col text-center">
                            <input type="text" class="form-control" placeholder="First name" [(ngModel)]="email">
                            <label for="" class="text-center mt-2">Email</label>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col text-center">
                            <input type="text" class="form-control" placeholder="First name" [(ngModel)]="phoneNumber">
                            <label for="" class="text-center mt-2">Phone number</label>
                        </div>
                        <div class="col text-center">
                            <input type="text" class="form-control" placeholder="First name" [(ngModel)]="matricNo">
                            <label for="" class="text-center mt-2">Matric Number</label>
                        </div>
                    </div>
                    <div class="m-auto w-50 mt-2 d-block">
                        <button class="btn btn-outline-success">Edit</button>
                        <button class="btn btn-outline-danger ms-3">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>