<!-- <p>dashboard works!</p> -->
<div class="container-fluid">
    <h1 class="bolder text-center mt-4">Student Details</h1>
    <div class="container-fluid shadow">
        <div class="row" style="height:70vh">
            <div class="col-3 shadow h-100">
              <div *ngFor="let item of userLists, index as i" class="card shadow d-flex p-1 mt-2"  style="height: 140px;" >
              <div  class="row" style="margin-top: 15px;" >
                  <div class="col-5 ml-3" (click)="details(i)">
                      <img src="../../assets/images/profile.jpg" alt="">
                  </div>
                  <div class="col-7 mt-3">
                     <h4>{{item.firstName}}</h4>
                     <h6>{{item.PhoneNumber}}</h6>
                  </div>
              </div>
              </div>
            </div>
            <div class="col-9 border shadow h-100">
                
                    <app-student></app-student>
                
                  <!-- <img src="../../assets/images/profile.jpg" class="card-img-top big shadow" alt="..."> -->
            </div>
        </div>
    </div>
</div>